[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
sqlalchemy-cockroachdb = "*"
transformers = "*"
sentencepiece = "*"
flask = "*"
torch = "*"
pandas = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
